.author {
  min-height: 5vh;
  font-size: 1.8rem;
  text-align: end;
  margin-right: 1rem;
  margin-bottom: 1rem;
  color: var(--color-secondary);
  text-shadow: var(--shadow-carousel);
  letter-spacing: -1px;

  a:link,
  a:visited {
    color: var(--color-secondary);
    font-style: italic;
  }
}

.person {
  font-family: var(--font-secondary);
  font-size: 2rem;
  letter-spacing: 1px;
  text-shadow: var(--shadow-carousel);
  transform: skewY(-3deg) skewX(-15deg);

  position: absolute;
  top: 96%;
  right: -5%;

  display: none;

  @media (any-hover: none) {
    display: block;
  }
}
